.logo_marca {
  width: 8%;
  height: auto;
}

.logo {
  padding-top: 3px;
  padding-bottom: 3px;
}

.portada {
  width: 3%;
  height: auto;
}

.radio {
  width: 6%;
  height: auto;
}

.laliga {
  width: 4%;
  height: auto;
}
